* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
em,i {
    font-style: normal;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #666;
    font-size: 10px;
}
a:hover {
    color: #c81623;
}
button,input {
    font-family: Microsoft YaHei,Heiti SC, tahoma, arial;
    /* 默认边框  手动去掉 */
    border: 0;
    outline: none;
}
img {
    border: 0;
    vertical-align: middle;
}
/* body {
    background-color: #fff;
    font: 12px Microsoft YaHei;
    color: #666;
} */
