/* 列表页专有css */
.nav {
    overflow: hidden;
}
.sk {
    position: absolute;
    left: 220px;
    top: 40px;
    border-left: 1px solid red;
    padding: 3px 0 0 14px;
}

.sk_list ul li {
    float: left;
}

.sk_list ul li a {
    display: block;
    line-height: 47px;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    padding: 0 47px;
}
.sk_con ul li {
    float: left;
}
.sk_con ul li a {
    display: block;
    line-height: 49px;
    color: rgb(53, 50, 50);
    font-size: 12px;
    padding: 0 20px;
}
.sk_con ul li:last-child a::after {
    font-family: 'icomoon';
    content: '\e936';
}
